// @import "includes/configs";
// @import "includes/reset";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:700);

$blue-dark: #005286;
$blue-clean: #1fbaed;
$gray: #eee;
$gray-strong: #666;
$blue: #4A90E2;


html, body{
  height: 100%;
  min-height: 100%;
}

#app{
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  padding-bottom: 55px;
  .app-header{
    text-align: center;
  	h1{
  		color: $blue-dark;
      max-width: 300px;
      margin: 0 auto;
      img{
        width: 100%;
        transform-style: preserve-3d;
        transition: all 0.2s linear;
      }
      .image-animated{
        -webkit-animation: dance 1 1s linear;
        -o-animation: dance 1 1s linear;
        -moz-animation: dance 1 1s linear;
        -ms-animation: dance 1 1s linear;
        animation: dance 1 1s linear;
      }
      @media screen and (max-width: 640px){
        max-width: 200px;
      }
  	}
  }
  .settings{
  	background: #3c0058;
  	margin: 20px 0;
  	padding: 40px 0;
  	.url-master{
  		margin-bottom: 20px;
  		button{
  			background: transparent;
  			color: $gray;
  			border-color: $gray;
  		}
  		.text-btn{
  			font-size: 14px;
  		}
  	}
  	.checkbox-inline{
  	  margin-left: 0;
  	  margin-right: 10px;
  	  color: white;
  	}
  }
  .introduction-personalize{
  	color: white;
  	margin: 10px 0;
  	.linha{
  		// overflow: auto;
  		margin-top: 5px;
  	}
  	span{
  		width: 100%;
  		height: 1px;
  		display: inline-block;
  		background: white;
  		vertical-align: middle;
	    float: none;
  		// margin-top: -5px;
  		// float: left;
  	}
  	p{
  		margin: 5px;
  		font-style: italic;
  	}
  }
  .personalize{
  	.form-control{
  		display: inline-block;
  		width: auto;
  		width: 70px;
  	}
  	p{
  		display: inline-block;
  		margin: 0 5px;
  		color: white;
  	}
  	button{
  		margin-left: 10px;
      background: transparent;
      color: $gray;
      border: 1px solid $gray;
  	}
  }
  .iframes{
    padding-top: 15px; 

    .case-resolutions{
      // padding: 0 15px;
      .resolution{
        margin-right: auto;
        margin-left: auto;
        line-height: 0;
        .panel-heading, .panel-footer{
          background: $blue-dark;
          color: white;
        }
        .panel-body{
          padding: 5px 0;
          overflow-x: auto;
          width: 100%;
          iframe{
            // width: 100%;
            border: 0;
            padding: 0;
            margin: 0;
          }
        }
      }
    }
  }
  .footer{
    // background: $gray;
    background: #700e9e;
    margin-top: 20px;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
    bottom: 0;
    // border-top: 1px solid $blue-dark;
    p{
      // color: $gray-strong;
      color: white;
      margin: 10px 0;
      a{
        // color: $gray-strong;
        color: #ff0496;
      }
    }
  }
  .back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 42px;
    right: 20px;
    display:none;
    background: $blue-dark;
  }

}
@-webkit-keyframes dance {
  0%,10%,20%{-webkit-transform:rotateZ(10deg);}
  5%,15%,25%{-webkit-transform:rotateZ(-10deg)}
  35%,60%,100%{-webkit-transform:scale(1) rotateZ(0deg); box-shadow:inset 0 0 0 0 transparent;}
  40% {-webkit-transform:scale(1.3); box-shadow:inset 0 0 0 0;}
}
@-moz-keyframes dance {
  0%,10%,20%{-moz-transform:rotateZ(10deg);}
  5%,15%,25%{-moz-transform:rotateZ(-10deg)}
  35%,60%,100%{-moz-transform:scale(1) rotateZ(0deg); box-shadow:inset 0 0 0 0 transparent;}
  40% {-moz-transform:scale(1.3); box-shadow:inset 0 0 0 0;}
}
@-ms-keyframes dance {
  0%,10%,20%{-ms-transform:rotateZ(10deg);}
  5%,15%,25%{-ms-transform:rotateZ(-10deg)}
  35%,60%,100%{-ms-transform:scale(1) rotateZ(0deg); box-shadow:inset 0 0 0 0 transparent;}
  40% {-ms-transform:scale(1.3); box-shadow:inset 0 0 0 0;}
}
@-o-keyframes dance {
  0%,10%,20%{-o-transform:rotateZ(10deg);}
  5%,15%,25%{-o-transform:rotateZ(-10deg)}
  35%,60%,100%{-o-transform:scale(1) rotateZ(0deg); box-shadow:inset 0 0 0 0 transparent;}
  40% {-o-transform:scale(1.3); box-shadow:inset 0 0 0 0;}
}
@keyframes dance {
  0%,10%,20%{transform:rotateZ(10deg);}
  5%,15%,25%{transform:rotateZ(-10deg)}
  35%,60%,100%{transform:scale(1) rotateZ(0deg); box-shadow:inset 0 0 0 0 transparent;}
  40% {transform:scale(1.3); box-shadow:inset 0 0 0 0;}
}